numpy
pandas
sklearn
-e git+git://github.com/simomarsili/little-bio-parser.git#egg=lilbio
-e git+git://github.com/simomarsili/pcdhit.git#egg=pcdhit
-e git+git://github.com/simomarsili/cleanset.git#egg=cleanset
